.text {
  margin-top: -41%;
  margin-left: 60%;
  color: #286ca5;
  text-transform: uppercase;
}
.input {
  flex-direction: column;
  display: flex;
  margin-left: 45%;
}
.welcome {
  margin-top: -41%;
  margin-left: 60%;
  color: #286ca5;
}
.textInvalid {
  color: red;
  font-size: 14px;
  text-align: center;
  /* background-color: red; */
  width: fit-content;
}
.errorMessage {
  margin: 0%;
  padding: 0%;
  font-size: 15px;
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
