.img{
    width: 1583px;
    height: 500px;
    margin-top: 0%;
}
.text {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #286CA5;
    margin-top: -23%;
    margin-left: 5%;
}
.get{
    margin-top: 23%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.view{
display: flex;
justify-content: space-between;
flex-direction: row;
}
.part{
align-items: center;
margin-left:20%;
border: 4px solid #286CA5;
border-right-width: 3px;
border-left-width:0px;
border-top-width:0px;
border-bottom-width:0px;
width: 20%

}
.part2{
    align-items: center;
    border: 4px solid #286CA5;
    border-right-width: 3px;
    border-left-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;
    width: 20%
    
    }
.part3{
    align-items: center;
    margin-right:20%;
    width: 20%
    
    }
.phone{
    font-weight: 600;
    font-size:20px;
    color:#286CA5;
    text-transform: capitalize;
    text-align: center;
}
.num{
    font-weight: 600;
    font-size:15px; 
    text-align: center;
}
.IF{
    margin-top: 5%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.form{
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    width:70%;
    border-radius: 10px;
    margin-left: 20%;
} 
.IFF{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
