.header{
 background-color: #286CA5;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.text{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    /* margin-right: 40%; */
}

/* .view{
    justify-content: space-between;
    flex-direction: row; 
    display: flex;
    margin-right: 8%;
} */
.profile{
    background-color: #ffff;
    position: absolute;
      height:91.3%;
      width:20%;
      
    
}
.img{
    background-color: silver;
    border-radius: 50%;
    margin-left: 32%;
    margin-top: 10%;
}
.p{
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 0%;
    /* margin-right: 70%; */
}
.pp{
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 0%;
    text-align: center; 
}
.m{
    text-align: center;
    font-size:10px;
    margin-top: -7%;
}

.dash{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%; 
    margin-left: 5%;
    margin-right: 45%; 
}
.dashhh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4%; 
    margin-left: 5%;
    margin-right: 25%; 
}
.dashh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 53%; 
}
.div{
    justify-content: space-between;
    flex-direction: row;
    
}
.page{
    background-color: #D7DBDC;
    position: absolute;
     top: 0;
     bottom: 0;
     width: 100%;
     height: 100%;
     /* overflow: hidden; */
     object-fit: fill;
     

}
.headerScreen {
    display: flex;
    margin-right: 8%;
}
.headerScreen h1 {
    font-size: 18px;
    margin-inline: 20px;
    cursor: pointer;
    color: #fff;
    /* transition-duration: 0.3s; */

}
.headerScreen h1:hover {
    color: black;
    /* transform: translateX(5px); */
  
}
